<div class="mainnmenu" data-pgc="single_header_main_menu" data-pgc-field="menus" data-pgc-no-update>
	<nav>
		<ul class="menu">
			<li data-pg-collapsed>
				<a href="index.html">Inicio</a>
			</li>
			<li data-pg-collapsed>
				<a href="#">empresa</a>
				<ul class="sub_menu">
					<li>
						<a href="quem-somos.html">quem somos</a>
					</li>
					<li>
						<a href="parceiros.html">parceiros</a>
					</li>
					<li>
						<a href="servicos.html">serviços</a>
					</li>
				</ul>
			</li>
			<li data-pg-collapsed>
				<a href="area-de-atuacao.html">área de atuação</a>
				<ul class="sub_menu">
					<li>
						<a href="direito-criminal.html">Direito Criminal</a>
					</li>
					<li>
						<a href="direito-consumidor.html">Direito do Consumidor</a>
					</li>
					<li>
						<a href="direito-imobiliario.html">Direito Imobiliário</a>
					</li>
					<li>
						<a href="direito-medico.html">Direito Médico</a>
					</li>
					<li>
						<a href="direito-preventivo.html">Direito Preventivo</a>
					</li>
					<li>
						<a href="direito-trabalho.html">Direito do Trabalho</a>
					</li>
					<li>
						<a href="direito-familia.html">Direito de Família & Sucessão</a>
					</li>
					<li>
						<a href="mediacao.html">Mediação & Arbitragem</a>
					</li>
				</ul>
			</li>
			<li data-pg-collapsed>
				<a href="artigos.html">artigos</a>
			</li>
			<li data-pg-collapsed class="active">
				<a href="contato.html">contate-nos</a>
			</li>
		</ul>
	</nav>
	<nav class="mb_menu hidden" data-pg-collapsed>
		<ul class="menu_for_mobile">
			<li>
				<a href="index.html">Inicio</a>
			</li>
			<li>
				<a href="#">empresa</a>
				<ul class="sub_menu">
					<li>
						<a href="quem-somos.html">quem somos</a>
					</li>
					<li>
						<a href="parceiros.html">parceiros</a>
					</li>
					<li>
						<a href="servicos.html">serviços</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="area-de-atuacao.html">área de atuação</a>
				<ul class="sub_menu">
					<li>
						<a href="direito-criminal.html">Direito Criminal</a>
					</li>
					<li>
						<a href="direito-consumidor.html">Direito do Consumidor</a>
					</li>
					<li>
						<a href="direito-imobiliario.html">Direito Imobiliário</a>
					</li>
					<li>
						<a href="direito-medico.html">Direito Médico</a>
					</li>
					<li>
						<a href="direito-preventivo.html">Direito Preventivo</a>
					</li>
					<li>
						<a href="direito-trabalho.html">Direito do Trabalho</a>
					</li>
					<li>
						<a href="direito-familia.html">Direito de Família & Sucessão</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="artigos.html">artigos</a>
			</li>
			<li>
				<a href="contato.html">contate-nos</a>
			</li>
		</ul>
	</nav>
</div>