<section class="error_page section-padding" data-pg-collapsed>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 text-center">
        <img src="img/404.png" alt="" width="340"/>
      </div>
      <div class="col-sm-6">
        <div class="error_tex">
          <h1 style="color: #000;">404</h1>
          <p style="color: #000;">A página que você está procurando não está disponível.</p>
          <a href="index.html"><i class="icofont icofont-long-arrow-left"></i>INICIO</a>
        </div>
      </div>
    </div>
  </div>
</section>