<div class="partner_area" data-pgc-save-partial="partials/section/partner-area.html" data-pgc-save-partial-operation="none" data-pgc="partner-area">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="partner_slider">
					<div class="single_partner" data-pg-collapsed data-pg-name="ajuda animal">
						<figure>
							<a href="../../index-2.html#"><img src="../../img/partner_1.jpg" alt="Logo Ajuda Animal"/></a>
						</figure>
					</div>
					<div class="single_partner" data-pg-collapsed data-pg-name="simplifica assessoria">
						<figure>
							<a href="../../index-2.html#"><img src="../../img/partner_2.jpg" alt="Logo Simplifica Assessoria"/></a>
						</figure>
					</div>
					<div class="single_partner" data-pg-collapsed data-pg-name="natalia verdi">
						<figure>
							<a href="../../index-2.html#"><img src="../../img/partner-03.png" alt="Logo Ohana Coelho Contabilidade"/></a>
						</figure>
					</div>
					<div class="single_partner" data-pg-collapsed data-pg-name="ohana coelho">
						<figure>
							<a href="../../index-2.html#"><img src="../../img/partner_3.jpg" alt="Logo Ohana Coelho Contabilidade"/></a>
						</figure>
					</div>
					<div class="single_partner" data-pg-collapsed data-pg-name="global compliance">
						<figure>
							<a href="../../index-2.html#"><img src="../../img/global.jpg" alt="Global Compliance"/></a>
						</figure>
					</div>
					<div class="single_partner" data-pg-collapsed>
						<figure>
							<a href="../../index-2.html#"><img src="../../img/partner_6.jpg" alt=""/></a>
						</figure>
					</div>
					<div class="single_partner" data-pg-collapsed>
						<figure>
							<a href="../../index-2.html#"><img src="../../img/partner_1.jpg" alt=""/></a>
						</figure>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>