<div class="partner_area">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="partner_slider">
          <div class="single_partner">
            <figure>
              <a href="#"><img src="img/partner_1.jpg" alt="Logo Ajuda Animal"/></a>
            </figure>
          </div>
          <div class="single_partner">
            <figure>
              <a href="#"><img src="img/partner_2.jpg" alt="Logo Simplifica Assessoria"/></a>
            </figure>
          </div>
          <div class="single_partner">
            <figure>
              <a href="#"><img src="img/partner-03.png" alt="Logo Ohana Coelho Contabilidade"/></a>
            </figure>
          </div>
          <div class="single_partner">
            <figure>
              <a href="#"><img src="img/partner_4.jpg" alt=""/></a>
            </figure>
          </div>
          <div class="single_partner">
            <figure>
              <a href="#"><img src="img/partner_5.jpg" alt=""/></a>
            </figure>
          </div>
          <div class="single_partner">
            <figure>
              <a href="#"><img src="img/partner_6.jpg" alt=""/></a>
            </figure>
          </div>
          <div class="single_partner">
            <figure>
              <a href="#"><img src="img/partner_1.jpg" alt=""/></a>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>